

.box{
    width: 950px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
}

body{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #ADD8E6;
}


.container-b{
    width: 400px;
    height: 390px;
    display: inline-block;
    background-color:#E6F6F9;
    border-Radius: 24px;
    position: absolute;
    padding-right: 10px;
    padding-left: 75px;

}

.OpPorcentagem{
    display: inline-block;
    width: 52px;
    height: 278px;
}

.conteudo-a{
    width: 400px;
    height: 220px;
    padding-left: 30px;
    display: inline-block;
    padding-left: 30px;
}

button{
    Width: 105px;
    Height: 42px;
    background-color: #01A7C2;
    border-radius: 8px;
    color: white;
}

p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

#Calcular{
    position: absolute;
    left: 22.05%;
    right: 12.05%;
    top: 50.77%;
    bottom: 20.77%
}

input{
    border-radius: 18px;
    background-color: #F2F7FF;
    font-size: 16px;
    font-family: Arial;
    left: 0%;
    right: 0%;
    top: 45%;
    bottom: 0%;
    height: 22px;
}

.calcular{
    width:135; 
    height:52;
    border-radius: 8px;
    

}
